# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user

Documents/*.html
Documents/*.pdf
Documents/*.tex
Documents/*.log
Documents/*.docx